
body {
    margin:0;
    overflow: hidden;
    font-family: proxima-nova, Tahoma, Arial, sans-serif;
    background-color:black;
}

p {    
    line-height: 1.5em;
    font-size: 20px;
}



#header {
    position:fixed;
    left:0;
    top:0;
    width:100%;
    background:white;
    z-index:2;
    transition: 1s all;
}


#menu {
    position: fixed;
    z-index: 2;
    top: 0px;
    left: 0;
    right: 0;
    background-color: #741f13;
    color: white;
    outline: none;
    padding: 12px;
    padding-left:40px;
    display: flex;
    border: none;
    align-items: center;
    visibility:hidden;
    transition:all 0.3s ease-out;
    transform:translateY(-200%);
}

#menu.show {
    visibility:visible;
    transform:translateY(0);
}

#menu img {
    width:100px;
    height:100px;
    margin-right:20px;
    position: absolute;
}

#menu h2 {
    cursor:pointer;
    margin: 0;
}

#menu h2 span {    
    font-family: adelle-condensed;
    color:white;    
    display: inline-block;
    margin-left: 120px;
    margin-right:140px;
    line-height: 1em;
}

#menu #menu-items {
    display:flex;
    flex-grow: 1;
}

#menu .menu-item { 
    cursor:pointer;
    transition:all 0.4s;
    margin-right:30px;
    text-transform:uppercase;
    padding: 7px 0px;
    transition: all 0.2s;
    border-bottom:2px solid transparent;
}

#menu .menu-item:hover {
    border-bottom:2px solid #da8d00;    
}

#menu .menu-item.selected {
    border-bottom:2px solid orange;
}

.hidden {
    visibility:hidden;
    opacity:0;    
}

.clear {
 clear:both;   
}


.shrinkEffect .page {    
    transform:scale(0.9);
}


.page {
    position:relative;
    height:100vh;
    display:block;
    transition:transform 0.5s ease;
    overflow:hidden;
}

.centerBottomWrapper {    
    position: absolute;
    top: auto;
    bottom: 8%;
    max-width: 900px;
    width:80%;
    margin: auto;
    color: white;
    left: 0;
    height: auto;
    right: 0;
    text-align: center;
}

.pageWrapper {
    margin-top:59px;
    position: relative;
    flex-grow: 1;
    height: 100%;
}

button {
    font-family: proxima-nova, Tahoma, Arial, sans-serif;
    text-align: center;    
    padding: 7px 20px;
    border: 1.5px solid white;
    border-radius: 0;
    color: white;
    cursor: pointer;
    font-size: 3vh;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    background-color: #741f13;
    text-transform:uppercase;
}