#CaseStudiesPage {
    display:flex;
    flex-direction: column;
}




.casestudy {
    width:50%;     
    height:50%;    
    position:absolute; 
    display:table;
    background-size:cover;
    color:white;
    cursor:pointer;
}

.casestudy > div {   
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-family: adelle-condensed;
    font-weight: bold;
    font-size: 38px;
    text-transform: uppercase;
    visibility:hidden;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

.casestudy:hover > div {
    visibility:visible;
}

.casestudy:nth-child(1) {
    left:0;
    top:0;
    background-image:url(./../images/casestudy-1.jpg);
}

.casestudy:nth-child(1):hover {
    background-image:url(./../images/casestudy-1-hover.jpg);
}

.casestudy:nth-child(2) {
    left:50%;
    top:0;
    background-image:url(./../images/casestudy-2.jpg);
}

.casestudy:nth-child(2):hover {
    background-image:url(./../images/casestudy-2-hover.jpg);
}

.casestudy:nth-child(3) {
    left:0;
    bottom:0;
    background-image:url(./../images/casestudy-3.jpg);
}

.casestudy:nth-child(3):hover {
    background-image:url(./../images/casestudy-3-hover.jpg);
}

.casestudy:nth-child(4) {
    left:50%;
    bottom:0;
    background-image:url(./../images/casestudy-4.jpg);
}

.casestudy:nth-child(4):hover {
    background-image:url(./../images/casestudy-4-hover.jpg);
}

.case-right-arrow {
    display:none;
}


#modals-wrapper.hidden .modal-content {
    transform:scale(0);
}

#modals {
    position:fixed;
    left:0;
    top: 58px;
    bottom:0;
    overflow: hidden;
    display:flex;
    transition: all 0.5s;
    width:400vw;
}

#modals.hidden .modal {
    opacity:0;
}

.modal {
    width:100vw;
    height:100%;
    position: relative;
    background:rgba(0,0,0,0.8);    
    transition: 0.2s all;
    opacity:1;
}



#modals.hidden .modal-content {
    opacity:0;
    transform:scale(0.8);
}

.modal-content {
    background: #741f13;
    max-width: 800px;
    max-height: 650px;
    height: 80%;
    width: 80%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    opacity:1;
    z-index: 3;
    display: flex;
    flex-direction: column;
    transform:scale(1);
    transition:all 0.2s;
    padding-bottom:20px;
    opacity:0;
}

.modal.selected .modal-content {
    opacity:1;
}

.modal-left-arrow {
    position:absolute;
    left:-25px;
    top:50%;
    transform: translate(-100%,-50%);
    cursor:pointer;
    height:133px;
    width:45px;
    background-image:url(../images/left-arrow.png)
}


.modal-left-arrow:hover {
    background-image:url(./../images/left-arrow-hover.png)    
}

.modal-right-arrow {
    position: absolute;
    right: -25px;
    top: 50%;
    transform: scaleX(-1) translate(-100%,-50%);
    cursor: pointer;
    height: 133px;
    width: 45px;
    background-image: url(./../images/left-arrow.png);
}

.modal-right-arrow:hover {
    background-image:url(./../images/left-arrow-hover.png)    
}

.modal iframe {
    width:100%;
    height:70%;
    background-color:black;
}

.modal video {
    width:100%;
    display: block;
    background-color:black;
    position:relative;
    flex-shrink: 1;
    min-height: 1px;
}

.modal .video-text {
    position:relative;
    flex-grow: 1;
    display:flex;
    flex-shrink: 0;
}

.modal .video-text p {
    margin:0;
    padding:20px;
    display: flex;
    color: white;
    font-size: 16px;
    line-height: 1.5em;
}

.modal-button {
    /* transform: translateY(130%);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline-block;
    width: 150px;*/
    flex-shrink: 0;
}

.modal-button:hover {
    background-color:#f6b951;
}

.closeModal {
    background: url(./../images/x.png);
    content: "";
    width: 30px;
    height: 30px;
    background-size: cover;
    position: absolute;
    right: -45px;
    top: 0;
    cursor: pointer;
    transition:all 0.05s;
}

.closeModal:hover {
    transform:scale(1.25);
}



@media screen and (max-width:1024px) {
    
    
    .casestudy > div {
        visibility: visible;
    }
    
    #modals {
        top:0;        
    }
    
    
}


@media screen and (max-width:650px) {
    
    .casestudy {
       width: 100%;
        height: 25%;
        position: initial;
    }
    
    .casestudy > div {
        background-color:rgba(111, 31, 0, 1);
        border-bottom:1px solid rgba(255,255,255,0.2);
        position:relative;
    }
    
    .casestudy > div:after {
        background: url(../images/left-arrow.png);
        height: 25px;
        width: 22px;
        transform: scaleX(-1);
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        content: "";
        position: absolute;
        right: 25px;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    
    .casestudy:hover {
        background-image:none !important;
        background-color:#c3992a;
    }
    
    .page-down-arrow {
        width: 45px;
        height: 15.2px;
    }
    
    
    .modal-content {
        width:100%;
        height:100%;
        max-height:100%;
        max-width:100%;
    }
    
    .modal .video-text p {
        font-size:24px;
    }
    
    .closeModal {
        
        right: 10px;
        top: 10px;
        z-index: 1;
    }
    
    .modal-button {
        margin-bottom: 80px;
    }
    
    .modal-left-arrow {left: 20px;
        transform: none;
        top: auto;
        bottom: 98px;
        cursor: pointer;
        height: 50px;
        position: absolute;
        width: 22px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .modal-right-arrow {
        top: auto;
        right: 20px;
        bottom: 98px;
        cursor: pointer;
        height: 50px;
        width: 22px;
        transform:scaleX(-1);
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    
}



@media screen and (max-width:500px) {
    
    .modal .video-text p {
        font-size: 20px;
    }
    
}


@media screen and (max-width:400px) {
   
    .modal .video-text p {
        font-size: 18px;
    }
    
    .modal-button {
        margin-bottom: 20px;
    }
    
    .modal-right-arrow, .modal-left-arrow {
        bottom:38px;        
    }
    
}

@media screen and (max-width:350px) {
    
    .modal .video-text p {
        font-size: 16px;
    }
}