#CaseStudiesPage {
    display:flex;
    flex-direction: column;
}




.casestudy {
    width:50%;     
    height:50%;    
    position:absolute; 
    display:table;
    background-size:cover;
    color:white;
    cursor:pointer;
}

.casestudy > div {   
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-family: adelle-condensed;
    font-weight: bold;
    font-size: 38px;
    text-transform: uppercase;
    visibility:hidden;
}

.casestudy:hover > div {
    background-color:rgba(255,185,0,0.6);    
    visibility:visible;
}

.casestudy:nth-child(1) {
    left:0;
    top:0;
    background-image:url(/images/casestudy-1.jpg);
}

.casestudy:nth-child(1):hover {
    background-image:url(/images/casestudy-1-bw.jpg);
}

.casestudy:nth-child(2) {
    left:50vw;
    top:0;
    background-image:url(/images/casestudy-2.jpg);
}

.casestudy:nth-child(2):hover {
    background-image:url(/images/casestudy-2-bw.jpg);
}

.casestudy:nth-child(3) {
    left:0;
    bottom:0;
    background-image:url(/images/casestudy-3.jpg);
}

.casestudy:nth-child(3):hover {
    background-image:url(/images/casestudy-3-bw.jpg);
}

.casestudy:nth-child(4) {
    left:50vw;
    bottom:0;
    background-image:url(/images/casestudy-4.jpg);
}

.casestudy:nth-child(4):hover {
    background-image:url(/images/casestudy-4-bw.jpg);
}


.modal.hidden .modal-content {
    transform:scale(0);
}

.modal {
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background:rgba(0,0,0,0.6);    
    transition: 0.2s all;
}

.modal-content {
    background: white;
    max-width: 800px;
    max-height: 600px;
    width: 80%;
    height: 80%;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    transform:scale(1);
    transition:all 0.2s;
    padding-bottom:20px;
}

.modal-content iframe {
    width:100%;
    height:70%;
    background-color:black;
}

.modal-content .video-text {
    position:relative;
    flex-grow: 1;
    display:flex;
}

.modal-content .video-text p {
    margin:0;
    padding:20px;
    padding-right:0;
    display: flex;
    font-size: 14px;
}

.modal-button {
    /* transform: translateY(130%);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline-block;
    width: 150px;*/
}

.modal-button:hover {
    background-color:#632b0f;
}

.closeModal {
    background: url(/images/x.png);
    content: "";
    width: 30px;
    height: 30px;
    background-size: cover;
    position: absolute;
    right: -45px;
    top: 0;
    cursor: pointer;
    transition:all 0.05s;
}

.closeModal:hover {
    transform:scale(1.25);
}