#connector-intro-screen button {
    width:300px;
    margin-bottom: 30px;
}

#connector-intro-screen {
    background-image:url(/images/connector-intro-new.jpg);
    background-position:center bottom;
    background-size: cover;
    height:100%;
}

#connector-body-column {
    max-width: 1000px;
}

#connector-results-screen {
    background-image:url(/images/connector-intro-dark.jpg);
    background-position:center center;
    background-size: cover;
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    transform:translateY(100%);
    transition:transform 0.3s ease-in;
    position: absolute;
    top: 0;
}

#connector-results-screen.visible {
    transform:translateY(0%);
}

#connector-intro-screen h2 {
    font-family:adelle-condensed;
    text-align:center;
    font-size:72px;
    margin-bottom: 30px !important;  
    text-shadow: 2px 2px 6px rgba(0,0,0,0.8);
}

#connector-search {   
}

#filter-wrapper {
    padding-top:30px;
    color:white;
    text-align: center;
}

#filter-dropdowns {
    
    margin-top: 10px;
}

#filter-dropdowns select {
    border: 0;
    outline: 0;
    background: #741f13;
    color: white;
    padding: 10px;
    font-weight: bold;
}

#filter-dropdowns select option {
    border: 0;
    outline: 0;
    background: #61180e;
    color: white;
    padding: 10px;
    font-family:proxima-nova, Tahoma, Arial, sans-serif;
}

#connector-results {
    display:flex;
    margin-top:20px;
    justify-content:center;
    overflow-y: auto;
    max-height: 80%;
    background-color: rgba(0,0,0,0.3);
    padding: 50px;
    padding-bottom: 40px;
    padding-top:20px;
}

#horses {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto; 
    width:100%;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 10px;
}

.horse {
    width: 200px;
    color:white;
    margin-right:35px;
    margin-bottom:35px;
    display:flex;
    flex-direction:column;
    flex-shrink: 0;
    cursor:pointer;
    transition:all 0.2s;    
    border-radius: 5px;
    overflow: hidden;
}

.horse:hover {
    transform:scale(1.05);
}

.horse:last-child {
    margin-right:0;
}

.horse h3 {
    margin: 0;
    padding: 5px 10px;
    background: #741f13;
    color: white;
}
.horse-image {
    background-size:cover;
    height:150px;    
}

.horse-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #741f13;
    padding: 15px;
    justify-content: space-between;
}

.horse-info .name {
    color:white;
    text-align:center;
    display:block;
    margin-bottom: 8px;
    font-weight: bold;

}

.horse-info .breed {
    color:white;
    opacity:0.8;
    text-align:center;
    display:block;
    margin-bottom: 8px;
    font-size: 13px;
}

.horse .horse-info ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.horse-info li {
    border-right: 1px solid white;
    display: inline-block;
    width: 30%;
    text-align: center;
    font-size: 14px;
    opacity: 1;
    flex: 1;
}


.horse-info li:last-child {
 border-right:0;   
}