#ConnectorPage {
    background-image:url(/images/connector-intro.jpg);
    background-position:center center;
    background-size: cover;
}

#ConnectorPage h2 {
    font-family:adelle-condensed;
    text-align:center;
    font-size:72px;
    margin-bottom: 30px !important;
}