 

#timeline-wrapper {
    position: relative;
    height: 100%;
    display: block;
    padding-top: 59px;
    padding-bottom: 80px;
}

#timeline-content {
    position: relative;
    height: 100%;
    display: inline-block;
}

#timeline-background {
    height:100%;
}

#scroll-wrapper {    
    background-color: #741f13;
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
}

/* OLD #scroll {
    z-index: 999;
    height:6px;
    background:#5a5a5a;
    position:absolute;
    left:4%;
    right:4%;
    bottom: 50%;
    box-shadow:-1px 1px 3px 1px #363636 inset;
    border-radius: 3px;
}

#scroll-knob {
    z-index: 1000;
    height:30px;
    width:10px;
    transform:translateY(-50%);
    background:white;
    opacity:0.5;
    position:absolute;
    cursor:pointer;
}

#scroll-knob:hover {
    opacity:1;
    
}*/
#scroll {
    z-index: 999;
    height:6px;
    background:#d7dcdf;
    position:absolute;
    left:4%;
    right:4%;
    bottom: 36px;
    border-radius: 3px;
    outline: none;
    padding: 0;
    margin: 0;
}

#scroll-knob {
    z-index: 1000;
    height:20px;
    width:20px;
    border-radius: 50%;
    transform-origin:center;
    background: #DDA651;
    cursor: pointer;
    transition: background .15s ease-in-out;
    transform:translate(-50%,-39%);
    position:absolute;
    
}

#scroll-knob:hover {
    background: #F5B85A;
    
}

.orange {
    background-color: rgba(246, 185, 81,0.9) !important;       
}

.text-column {   
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 0;
    bottom:0;
    background-color:rgba(255,255,255, 0.9);
}

.text-column p {
    font-size:20px;
    line-height:2em;
    padding-top: 100px;
}

.popup {
	position: absolute;
}

.popup p {    
    line-height: 1.4em;
    font-size: 16px;
    background-color:rgba(0,0,0,0.8);
    color:#ffffff;
    padding:25px 25px 25px 25px;
    width:250px;
    position:absolute;
    top: -15px;
    transition: all 0.2s;
    opacity:0;
    z-index:1;
}

.popup p.top {
    transform:translateX(-50%) translateY(-100%);
}

.popup p.bottom {
    transform:translateX(-50%);    
}

.popup p.right {
    transform:translateY(-50%);    
}

.popup p.left {
    transform:translateX(-100%) translateY(-50%);  
}

.popup.show p {
    opacity:1;
}

.popup p img {
    position: relative;
    width: 125%;
    margin-left: -12.5%;
    border: 5px #f6b951 solid;
    border-radius: 50%;
}

.popup p.top img {
    margin-bottom: 10px;
    margin-top: -73%;
}

.popup p.bottom img {    
    margin-top: 10px;
    margin-bottom: -73%;
}

.textboxblue p {    
    line-height: 1.4em;
    font-size: 16px;
    background-color:#012d57;
    color:#ffffff;
    padding:25px 25px 25px 25px;
    width:300px;
    position:absolute;
    left: 22%;
    bottom: 12%;
    transition: all 0.2s;
    z-index:3;
}

.textboxpurple p {    
    line-height: 1.4em;
    font-size: 16px;
    background-color:#5d0b35;
    color:#ffffff;
    padding:25px 25px 25px 25px;
    width:300px;
    position:absolute;
    left: 61.5%;
    bottom: 14%;
    transition: all 0.2s;
    z-index:3;
}

.dot {
	width: 40px;
	height: 40px;
	border: 4px solid #f6b951;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	background-color: #741f13;
	z-index: 10;
    transform:translate(-50%,-50%);
    position:relative;
    cursor:pointer;
}

.dot:before {
    font-weight: bold;
    color: #f6b951;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    content: "+";
    width: 100%;
    position: absolute;
    line-height: 32px;
    font-size: 24px;
    transition: transform 0.2s;
}

.popup.show .dot:before {
    transform:rotate(45deg);
}

.popup:after {
    position:absolute;
    content:"";
	border: 10px solid #f6b951;
	background: transparent;
	-webkit-border-radius: 80px;
	-moz-border-radius: 80px;
	border-radius: 80px;
	height: 80px;
	width: 80px;
	-webkit-animation: pulse 2s ease-out;
	-moz-animation: pulse 2s ease-out;
	animation: pulse 2s ease-out;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
    z-index: 0;
    opacity: 0;
    left: -50px;
    top: -50px;
    
}

.visual {
    position: absolute;
    transition: all 0.2s;
    opacity:0;
}

.visual.show {
    opacity:1;
}

/* POPUPS */

#PU-arrival {
    left:11%;
    bottom:13%;
}

#PU-restore {
    left:19%;
    bottom:40%;
}

#PU-records {
    left:42%;
    bottom:37%;
}

#PU-training {
    left:50%;
    bottom:15%;
}

#PU-ready {
    left:72%;
    bottom:18%;
}

#PU-apply {
    left:80%;
    bottom:25%;
}

#PU-home {
    left:88%;
    bottom:40%;
}

#PU-follow {
    left:95%;
    bottom:15%;
}

#zodiac {
    width: 250px;
    height: 250px;
    border: 5px solid #f6b951;
    border-radius: 125px;
    background-image: url(/images/zodiac-sling.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 2;
}

/* TEXT COLUMNS */

#timeline-intro {
    left:0%;
}


/* VISUALS */

#sample-horse {
    width: 10%;
    left: 26%;
    bottom: 0px;
}

#barney {
    width: 20%;
    left: 55%;
    bottom: 0px;
}


/* ANIMATIONS */

@-moz-keyframes pulse {
 0% {
	-moz-transform: scale(0);
	opacity: 0.0;
 }
 25% {
	-moz-transform: scale(0);
	opacity: 0.1;
 }
 50% {
	-moz-transform: scale(0.1);
	opacity: 0.2;
 }
 75% {
	-moz-transform: scale(0.5);
	opacity: 0.4;
 }
 100% {
	-moz-transform: scale(1);
	opacity: 0.0;
 }
}
@-webkit-keyframes "pulse" {
 0% {
	-webkit-transform: scale(0);
	opacity: 0.0;
 }
 25% {
	-webkit-transform: scale(0);
	opacity: 0.1;
 }
 50% {
	-webkit-transform: scale(0.1);
	opacity: 0.2;
 }
 75% {
	-webkit-transform: scale(0.5);
	opacity: 0.4;
 }
 100% {
	-webkit-transform: scale(1);
	opacity: 0.0;
 }
}
