 

#timeline-wrapper {
    position: relative;
    height: 100%;
    display: block;
    padding-top: 59px;
    padding-bottom: 80px;
}

#timeline-content {
    position: relative;
    height: 100%;
    display: inline-block;
}

#timeline-background {
    height:100%;
}

#scroll-wrapper {    
    background-color: #741f13;
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
}

#scroll {
    z-index: 999;
    height:6px;
    background:#5a5a5a;
    position:absolute;
    left:4%;
    right:4%;
    bottom: 50%;
    box-shadow:-1px 1px 3px 1px #363636 inset;
    border-radius: 3px;
}

#scroll-knob {
    z-index: 1000;
    height:30px;
    width:10px;
    transform:translateY(-50%);
    background:white;
    opacity:0.5;
    position:absolute;
    cursor:pointer;
}

#scroll-knob:hover {
    opacity:1;
    
}

.orange {
    background-color: rgba(246, 185, 81,0.9) !important;       
}

.text-column {   
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 0;
    bottom:0;
    background-color:rgba(255,255,255, 0.9);
}

.text-column p {
    font-size:20px;
    line-height:2em;
    padding-top: 100px;
}

.popup {
	position: absolute;
}

.popup p {    
    line-height: 1.4em;
    font-size: 16px;
    background-color:rgba(0,0,0,0.8);
    color:#ffffff;
    padding:150px 25px 25px 25px;
    width:250px;
    position:absolute;
    top: -15px;
    transition: all 0.2s;
    opacity:0;
    z-index:1;
}

.popup.show p {
    opacity:1;
}

.dot {
	width: 30px;
	height: 30px;
	border: 4px solid #f6b951;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background-color: #741f13;
	z-index: 10;
    transform:translate(-50%,-50%);
    position:relative;
    cursor:pointer;
}

.dot:after {
    position:absolute;
    content:"";
	border: 10px solid #f6b951;
	background: transparent;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	border-radius: 60px;
	height: 60px;
	width: 60px;
	-webkit-animation: pulse 3s ease-out;
	-moz-animation: pulse 3s ease-out;
	animation: pulse 3s ease-out;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	z-index: 8;
	opacity: 0;
    left: -29px;
    top: -29px;
    
}

.visual {
    position: absolute;
    transition: all 0.2s;
    opacity:0;
}

.visual.show {
    opacity:1;
}

/* POPUPS */

#PU-sample {
    left:6%;
    top:45%;
}

#zodiac {
    width: 250px;
    height: 250px;
    border: 5px solid #f6b951;
    border-radius: 125px;
    background-image: url(/images/zodiac-sling.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -125px;
    z-index: 2;
}

/* TEXT COLUMNS */

#timeline-intro {
    left:0%;
}


/* VISUALS */

#sample-horse {
    width: 10%;
    left: 20%;
    bottom: 0px;
}


/* ANIMATIONS */

@-moz-keyframes pulse {
 0% {
	-moz-transform: scale(0);
	opacity: 0.0;
 }
 25% {
	-moz-transform: scale(0);
	opacity: 0.1;
 }
 50% {
	-moz-transform: scale(0.1);
	opacity: 0.2;
 }
 75% {
	-moz-transform: scale(0.5);
	opacity: 0.4;
 }
 100% {
	-moz-transform: scale(1);
	opacity: 0.0;
 }
}
@-webkit-keyframes "pulse" {
 0% {
	-webkit-transform: scale(0);
	opacity: 0.0;
 }
 25% {
	-webkit-transform: scale(0);
	opacity: 0.1;
 }
 50% {
	-webkit-transform: scale(0.1);
	opacity: 0.2;
 }
 75% {
	-webkit-transform: scale(0.5);
	opacity: 0.4;
 }
 100% {
	-webkit-transform: scale(1);
	opacity: 0.0;
 }
}
