<section id="caseStudies">

      <!-- QUADRANTS -->
    <div id="adoptQuadrant" class="quadrant" (click)="selectQuadrant('adopt')" [ngClass]="{'selected': selectedQuadrant == 'adopt'}">
        
        <div class="title">Adopt</div>
        
        <div class="modal">
            <div class="modalContent">
                <div class="closeModal" (click)="selectQuadrant('')"></div>
                <iframe src="https://www.youtube.com/embed/9k2I1kMAP4o" frameborder="0" allowfullscreen></iframe>
                
                <div class="modalText">
                
                <p>Lorem ipsum etc etc Lorem ipsum etc etcLorem ipsum etc etcLorem ipsum etc etcLorem ipsum etc etcLorem ipsum etc etcLorem ipsum etc etcLorem ipsum etc etcLorem ipsum etc etcLorem ipsum etc etcLorem ipsum etc etc.</p>
                    
                    
                <span class="modalButton">Learn More</span>
                </div>
            </div>
        </div>     
    
    </div>
    
    
    <div id="learnQuadrant" class="quadrant" (click)="selectQuadrant('learn')" [ngClass]="{'selected': selectedQuadrant == 'learn'}">
        
        <div class="title">Learn</div>
  
        <div class="modal">
            <div class="modalContent">
                <div class="closeModal" (click)="selectQuadrant('')"></div>
                <iframe src="https://www.youtube.com/embed/9k2I1kMAP4o" frameborder="0" allowfullscreen></iframe>
                
                <div class="modalText">
                
                <p>Lorem ipsum etc etc Lorem ipsum etc etcLorem ipsum etc etcLorem ipsum etc etcLorem ipsum etc etcLorem ipsum etc etcLorem ipsum etc etcLorem ipsum etc etcLorem ipsum etc etcLorem ipsum etc etcLorem ipsum etc etc.</p>
                    
                    
                <span class="modalButton">Learn More</span>
                </div>
            </div>
        </div>   
    
    </div> 
    
    <div id="volunteerQuadrant" class="quadrant" (click)="selectQuadrant('volunteer')" [ngClass]="{'selected': selectedQuadrant == 'volunteer'}">
        
        <div class="title">Volunteer</div>
        
        <div class="modal">
            <div class="modalContent">
                <div class="closeModal" (click)="selectQuadrant('')"></div>
                <iframe src="https://www.youtube.com/embed/9k2I1kMAP4o" frameborder="0" allowfullscreen></iframe>
                
                <div class="modalText">
                
                <p>Lorem ipsum etc etc Lorem ipsum etc etcLorem ipsum etc etcLorem ipsum etc etcLorem ipsum etc etcLorem ipsum etc etcLorem ipsum etc etcLorem ipsum etc etcLorem ipsum etc etcLorem ipsum etc etcLorem ipsum etc etc.</p>
                    
                    
                <span class="modalButton">Learn More</span>
                </div>
            </div>
        </div>   
         
    </div>
    
    <div id="donateQuadrant" class="quadrant" (click)="selectQuadrant('donate')" [ngClass]="{'selected': selectedQuadrant == 'donate'}">
        
        <div class="title">Donate</div>
        
        <div class="modal">
            <div class="modalContent">
                <div class="closeModal" (click)="selectQuadrant('')"></div>
                <iframe src="https://www.youtube.com/embed/9k2I1kMAP4o" frameborder="0" allowfullscreen></iframe>
                
                <div class="modalText">
                
                <p>Lorem ipsum etc etc Lorem ipsum etc etcLorem ipsum etc etcLorem ipsum etc etcLorem ipsum etc etcLorem ipsum etc etcLorem ipsum etc etcLorem ipsum etc etcLorem ipsum etc etcLorem ipsum etc etcLorem ipsum etc etc.</p>
                    
                    
                <span class="modalButton">Learn More</span>
                </div>
            </div>
        </div>        
        
    </div>
    
    
    

</section>