<section id="introSection">
    
    <div class="introbackground" preload="auto" autoplay="true" loop="loop" muted="muted">
        <video id="bgvid" loop>
          <source src="resources/images/IntroBkgrnd.mp4" type="video/mp4">
        </video>
    </div>
    
    <div id="introTextWrapper">
    
        <h2><img src=""/>Changing Lives</h2>

        <p id="introSummary">If you could only see what I've seen. If you could only see what I've seen. If you could only see what I've seen. If you could only see what I've seen. If you could only see what I've seen. If you could only see what I've seen. If you could only see what I've seen. </p>

        <span id="beginButton">Begin</span>
        
    </div>

</section>