<section id="introSection">
    
    <div class="introbackground" preload="auto" autoplay="true" loop="loop" muted="muted">
        <video id="bgvid" loop>
          <source src="resources/images/IntroBkgrnd.mp4" type="video/mp4">
        </video>
    </div>
    
    <div id="introTextWrapper">
    
        <h2><img src="resources/images/DEFHR_Logo.png" width="250px" height="250px" alt="DEFHR logo">Changing Lives</h2>

        <p id="introSummary">If you could only see what I’ve seen. Where I’ve been. How I’ve been treated. You may think it’d be hard for me to trust people, but Days End Farm Horse Rescue showed me the way. They nurtured me to good health, helped me build strength and confidence, and gave me a chance to live and love human companions. Now I’m ready to find a forever home with a new partner in life. Maybe that’s you. <strong>Let’s start the journey and see</strong>.</p>

        <span id="beginButton">Begin</span>
        
    </div>

</section>